<%- include('../layout/adminHead') -%>

    <div class="wrapper">
        <%- include('../layout/adminSideWrapper') -%>
        <%- include('../layout/adminHeaderNav') -%>

        <div class="page-wrapper">
            <div class="page-content">
                <h3>Manage Categories</h3>
                <a href="/admin/add-categorys"  class="btn btn-success bx bx-list-plus" >Add Category</a>
                <% if(locals.success){ %>
                <script>

                    document.addEventListener('DOMContentLoaded' , function () {
                        const success = "Category Edited Successfully";
                        showModals(success);
                    })

                </script>
                <% }else if(locals.done){ %>
                    <script>

                        document.addEventListener('DOMContentLoaded' , function () {
                            const done = "New Category is Added";
                            showModals(done);
                        })
    
                    </script>
                    <% }else if(locals.delet){ %>
                        <script>

                            document.addEventListener('DOMContentLoaded' , function () {
                                const delet = "Deleted Successfully";
                                showModal(delet);
                            })
        
                        </script>
                        <% }else if(locals.err){ %>
                            <script>

                                document.addEventListener('DOMContentLoaded' , function () {
                                    const err = "Category not found";
                                    showModa(err);
                                })
            
                            </script>
                            <% } %>
                <table id="categoryTable" class="display" style="width:100%">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Active</th>
                            <th>Added Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categorys.forEach(function(category, index) { %>
                        <tr>
                            <td><%= category.name %></td>
                            <td><%= category.isActive ? 'Yes' : 'No' %></td>
                            <td><%= category.createdAt.toDateString() %></td>
                            <td>
                                <a href="/admin/edit-categorys/<%= category._id %>" class="btn btn-outline-success bx bxs-edit-alt"> Edit</a>
                                <form action="/admin/categorys/delete" method="POST" class="d-inline">
                                    <input type="hidden" name="id" value="<%= category.id %>">
                                    <button type="submit" class="btn btn-outline-danger bx bxs-trash-alt"> Delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="overlay toggle-icon"></div>
        <a href="javascript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <footer class="page-footer">
            <p class="mb-0">Copyright © 2021. All right reserved.</p>
        </footer>
    </div>

    <%- include('../layout/adminTheme') -%>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $(document).ready(function() {
            $('#categoryTable').DataTable();
        });
    </script>
    <script>

        function showModals(success,done) {
        Toastify({
            text: success,done,
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "top",
            position: "center",
            stopOnFocus: true,
            style: {    
                background: "green",
            },
            onClick: function(){} // Callback after click
        }).showToast();
    }

    </script>
    <script>
    
        function showModal(delet) {
        Toastify({
            text: delet,
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "top",
            position: "center",
            stopOnFocus: true,
            style: {    
                background: "orange",
            },
            onClick: function(){} // Callback after click
        }).showToast();
    }

    </script>
    <script>
    
        function showModa(err) {
        Toastify({
            text: err,
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "top",
            position: "center",
            stopOnFocus: true,
            style: {    
                background: "red",
            },
            onClick: function(){} // Callback after click
        }).showToast();
    }

    </script>
</body>

</html>
